.form-control {
	width: 40%;
	text-align: center;
	margin-left: 10px;
}

td {
	width: 50px; 
}

body {
	background: url("Frost.jpg")  center;
	background-size: cover;
	min-height: 100%;
	position: relative;
	padding-bottom: [footer-height];
}

.modal-body {
	background: url("Frost.jpg")  center;
}
.modal-header {
	background: url("Frost.jpg")  center;
}
.modal-footer {
	background: url("Frost.jpg")  center;
}